<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição de Cliente' : 'Cadastro de Cliente'}}</li>  
</ol>
<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo/atualizado com sucesso!
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="errors != null">
                    Impossivel fazer o cadastro no sistema!
                  </div>
            </div>
        </div>
        <div class="row" *ngIf="cliente.id">
            <div class="col-md-2">
                <div class="form-group">
                    <label>ID </label>
                    <input type="text" class="form-control" disabled [ngModel]="cliente.id" name="id">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Data de Cadastro </label>
                    <input type="text" class="form-control" disabled [ngModel]="cliente.dataCadastro"
                        name="dataCadastro">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Nome *</label>
                    <input type="text" class="form-control" required [(ngModel)]="cliente.nome" name="nome">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>CPF *</label>
                    <input type="text" class="form-control" required [(ngModel)]="cliente.cpf" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success mb-4" *ngIf="!cliente.id">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>
                <button type="submit" class="btn btn-primary mb-4" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt"></i>
                    Atualizar
                </button>
                <button class="btn btn-danger ml-2 mb-4" type="button" (click)="voltarParaListagem()">
                    <i class="fas fa-arrow-circle-left"></i>
                    Voltar
                </button>
            </div>
        
        </div>
    </form>
</div>